/* Magic Mirror
 * Module: MMM-MQTT
 *
 * By jupadin
 * MIT Licensed.
 */

.MMM-MQTT .label {
  padding-right: 1rem;
  vertical-align: middle;
}

.MMM-MQTT .value {
  vertical-align: middle;
  font-size: 1.25rem;
}

.MMM-MQTT .suffix {
  font-weight: normal;
  padding-left: 0.25rem;
  vertical-align: super;
  font-size: 0.8rem;
}
